*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #040218;
  font-family: 'Courier New', monospace;
}

#game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

::selection {
  background: #e63946;
  color: #f1faee;
}
